@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* .....Text..... */
        /* text-gray-900 */
        --color-text-base: 17, 24, 39;
        /* text-white */
        --color-text-base-opposite: 255, 255, 255;

        /* text-gray-500 */
        --color-text-muted: 107, 114, 128;
        /* text-gray-700 */
        --color-text-muted2: 55, 65, 81;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-blue-600 (what would be changing for other theme colors) */
        --color-text-icon2: 37, 99, 235;
        /* text-gray-800 */
        --color-text-icon-hover: 31, 41, 55;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-white */
        --color-fill: 255, 255, 255;
        /* bg-blue-600 (what would be changing for other theme colors) */
        --color-fill2: 37, 99, 235;
        /* bg-white */
        --color-fill3: 255, 255, 255;
        /* bg-gray-600 */
        --color-fill4: 75, 85, 99;
        /* bg-blue-100 (what would be changing for other theme colors) */
        --color-fill5: 219, 234, 254;

        /* bg-gray-200 */
        --color-fill-muted: 243, 244, 246;
        /* bg-gray-300 */
        --color-fill-muted2: 209, 213, 219;
        /* bg-gray-100 */
        --color-fill-muted-hover: 229, 231, 235;
        /* bg-gray-50 */
        --color-fill-muted2-hover: 249, 250, 251;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-blue-700 (what would be changing for other theme colors) */
        --color-button-accent: 29, 78, 216;
        /* bg-blue-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 30, 64, 175;

        /* bg-gray-100 */
        --color-button-muted-hover: 243, 244, 246;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-100 */
        --color-focus: 243, 244, 246;
        /* ring-blue-300 */
        --color-focus2: 147, 197, 253;

        /* border-gray-300 */
        --color-border: 209, 213, 219;
        /* border-gray-100 */
        --color-border2: 243, 244, 246;
/* ****************************************************** */        
    }


    .theme-dark {
        /* .....Text..... */
        /* text-white */
        --color-text-base: 255, 255, 255;
        /* text-gray-900 */
        --color-text-base-opposite: 17, 24, 39;

        /* text-gray-400 */
        --color-text-muted: 156, 163, 175;
        /* text-white */
        --color-text-muted2: 255, 255, 255;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-blue-300 (what would be changing for other theme colors) */
        --color-text-icon2: 147, 197, 253;
        /* text-gray-400 */
        --color-text-icon-hover: 156, 163, 175;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-gray-900 */
        --color-fill: 17, 24, 39;
        /* bg-blue-600 (what would be changing for other theme colors) */
        --color-fill2: 37, 99, 235;
        /* bg-gray-800 */
        --color-fill3: 31, 41, 55;
        /* bg-white */
        --color-fill4: 255, 255, 255;
        /* bg-blue-900 (what would be changing for other theme colors) */
        --color-fill5: 30, 58, 138;

        /* bg-gray-800 */
        --color-fill-muted: 31, 41, 55;
        /* bg-gray-800 */
        --color-fill-muted2: 31, 41, 55;
        /* bg-gray-700 */
        --color-fill-muted-hover: 55, 65, 81;
        /* bg-gray-700 */
        --color-fill-muted2-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-blue-700 (what would be changing for other theme colors) */
        --color-button-accent: 29, 78, 216;
        /* bg-blue-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 30, 64, 175;

        /* bg-gray-700 */
        --color-button-muted-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-800 */
        --color-focus: 31, 41, 55;
        /* ring-blue-900 */
        --color-focus2: 30, 58, 138;

        /* border-gray-700 */
        --color-border: 55, 65, 81;
        /* border-gray-600 */
        --color-border2: 75, 85, 99;
/* ****************************************************** */        
    }

    .theme-flame-light {
        /* .....Text..... */
        /* text-gray-900 */
        --color-text-base: 17, 24, 39;
        /* text-white */
        --color-text-base-opposite: 255, 255, 255;

        /* text-gray-500 */
        --color-text-muted: 107, 114, 128;
        /* text-gray-700 */
        --color-text-muted2: 55, 65, 81;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-red-600 (what would be changing for other theme colors) */
        --color-text-icon2: 220, 38, 38;
        /* text-gray-800 */
        --color-text-icon-hover: 31, 41, 55;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-white */
        --color-fill: 255, 255, 255;
        /* bg-red-600 (what would be changing for other theme colors) */
        --color-fill2: 220, 38, 38;
        /* bg-white */
        --color-fill3: 255, 255, 255;
        /* bg-gray-600 */
        --color-fill4: 75, 85, 99;
        /* bg-red-100 (what would be changing for other theme colors) */
        --color-fill5: 254, 226, 226;

        /* bg-gray-200 */
        --color-fill-muted: 243, 244, 246;
        /* bg-gray-300 */
        --color-fill-muted2: 209, 213, 219;
        /* bg-gray-100 */
        --color-fill-muted-hover: 229, 231, 235;
        /* bg-gray-50 */
        --color-fill-muted2-hover: 249, 250, 251;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-red-700 (what would be changing for other theme colors) */
        --color-button-accent: 185, 28, 28;
        /* bg-red-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 153, 27, 27;

        /* bg-gray-100 */
        --color-button-muted-hover: 243, 244, 246;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-100 */
        --color-focus: 243, 244, 246;
        /* ring-red-300 (what would be changing for other theme colors)*/
        --color-focus2: 252, 165, 165;

        /* border-gray-300 */
        --color-border: 209, 213, 219;
        /* border-gray-100 */
        --color-border2: 243, 244, 246;
/* ****************************************************** */ 
    }

    .theme-flame-dark {
        /* .....Text..... */
        /* text-white */
        --color-text-base: 255, 255, 255;
        /* text-gray-900 */
        --color-text-base-opposite: 17, 24, 39;

        /* text-gray-400 */
        --color-text-muted: 156, 163, 175;
        /* text-white */
        --color-text-muted2: 255, 255, 255;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-red-300 (what would be changing for other theme colors) */
        --color-text-icon2: 252, 165, 165;
        /* text-gray-400 */
        --color-text-icon-hover: 156, 163, 175;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-gray-900 */
        --color-fill: 17, 24, 39;
        /* bg-red-600 (what would be changing for other theme colors) */
        --color-fill2: 220, 38, 38;
        /* bg-gray-800 */
        --color-fill3: 31, 41, 55;
        /* bg-white */
        --color-fill4: 255, 255, 255;
        /* bg-red-900 (what would be changing for other theme colors) */
        --color-fill5: 127, 29, 29;

        /* bg-gray-800 */
        --color-fill-muted: 31, 41, 55;
        /* bg-gray-800 */
        --color-fill-muted2: 31, 41, 55;
        /* bg-gray-700 */
        --color-fill-muted-hover: 55, 65, 81;
        /* bg-gray-700 */
        --color-fill-muted2-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-red-700 (what would be changing for other theme colors) */
        --color-button-accent: 185, 28, 28;
        /* bg-red-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 153, 27, 27;

        /* bg-gray-700 */
        --color-button-muted-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-800 */
        --color-focus: 31, 41, 55;
        /* ring-red-900 (what would be changing for other theme colors)*/
        --color-focus2: 127, 29, 29;

        /* border-gray-700 */
        --color-border: 55, 65, 81;
        /* border-gray-600 */
        --color-border2: 75, 85, 99;
/* ****************************************************** */   
       
    }

    .theme-velvet-light {
        /* .....Text..... */
        /* text-gray-900 */
        --color-text-base: 17, 24, 39;
        /* text-white */
        --color-text-base-opposite: 255, 255, 255;

        /* text-gray-500 */
        --color-text-muted: 107, 114, 128;
        /* text-gray-700 */
        --color-text-muted2: 55, 65, 81;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-purple-600 (what would be changing for other theme colors) */
        --color-text-icon2: 147, 51, 234;
        /* text-gray-800 */
        --color-text-icon-hover: 31, 41, 55;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-white */
        --color-fill: 255, 255, 255;
        /* bg-purple-600 (what would be changing for other theme colors) */
        --color-fill2: 147, 51, 234;
        /* bg-white */
        --color-fill3: 255, 255, 255;
        /* bg-gray-600 */
        --color-fill4: 75, 85, 99;
        /* bg-purple-100 (what would be changing for other theme colors) */
        --color-fill5: 243, 232, 255;

        /* bg-gray-200 */
        --color-fill-muted: 243, 244, 246;
        /* bg-gray-300 */
        --color-fill-muted2: 209, 213, 219;
        /* bg-gray-100 */
        --color-fill-muted-hover: 229, 231, 235;
        /* bg-gray-50 */
        --color-fill-muted2-hover: 249, 250, 251;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-purple-700 (what would be changing for other theme colors) */
        --color-button-accent: 126, 34, 206;
        /* bg-purple-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 107, 33, 168;

        /* bg-gray-100 */
        --color-button-muted-hover: 243, 244, 246;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-100 */
        --color-focus: 243, 244, 246;
        /* ring-purple-300 (what would be changing for other theme colors)*/
        --color-focus2: 216, 180, 254;

        /* border-gray-300 */
        --color-border: 209, 213, 219;
        /* border-gray-100 */
        --color-border2: 243, 244, 246;
/* ****************************************************** */ 
        
    }

    .theme-velvet-dark {
        /* .....Text..... */
        /* text-white */
        --color-text-base: 255, 255, 255;
        /* text-gray-900 */
        --color-text-base-opposite: 17, 24, 39;

        /* text-gray-400 */
        --color-text-muted: 156, 163, 175;
        /* text-white */
        --color-text-muted2: 255, 255, 255;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-purple-300 (what would be changing for other theme colors) */
        --color-text-icon2: 216, 180, 254;
        /* text-gray-400 */
        --color-text-icon-hover: 156, 163, 175;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-gray-900 */
        --color-fill: 17, 24, 39;
        /* bg-purple-600 (what would be changing for other theme colors) */
        --color-fill2: 147, 51, 234;
        
        /* bg-gray-800 */
        --color-fill3: 31, 41, 55;
        /* bg-white */
        --color-fill4: 255, 255, 255;
        /* bg-purple-900 (what would be changing for other theme colors) */
        --color-fill5: 88, 28, 135;

        /* bg-gray-800 */
        --color-fill-muted: 31, 41, 55;
        /* bg-gray-800 */
        --color-fill-muted2: 31, 41, 55;
        /* bg-gray-700 */
        --color-fill-muted-hover: 55, 65, 81;
        /* bg-gray-700 */
        --color-fill-muted2-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-purple-700 (what would be changing for other theme colors) */
        --color-button-accent: 126, 34, 206;
        /* bg-purple-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 107, 33, 168;

        /* bg-gray-700 */
        --color-button-muted-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-800 */
        --color-focus: 31, 41, 55;
        /* ring-purple-900 (what would be changing for other theme colors)*/
        --color-focus2: 88, 28, 135;

        /* border-gray-700 */
        --color-border: 55, 65, 81;
        /* border-gray-600 */
        --color-border2: 75, 85, 99;
/* ****************************************************** */ 
    }

    .theme-moss-light {
        /* .....Text..... */
        /* text-gray-900 */
        --color-text-base: 17, 24, 39;
        /* text-white */
        --color-text-base-opposite: 255, 255, 255;

        /* text-gray-500 */
        --color-text-muted: 107, 114, 128;
        /* text-gray-700 */
        --color-text-muted2: 55, 65, 81;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-green-600 (what would be changing for other theme colors) */
        --color-text-icon2: 22, 163, 74;
        /* text-gray-800 */
        --color-text-icon-hover: 31, 41, 55;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-white */
        --color-fill: 255, 255, 255;
        /* bg-green-600 (what would be changing for other theme colors) */
        --color-fill2: 22, 163, 74;
        /* bg-white */
        --color-fill3: 255, 255, 255;
        /* bg-gray-600 */
        --color-fill4: 75, 85, 99;
        /* bg-green-100 (what would be changing for other theme colors) */
        --color-fill5: 220, 252, 231;

        /* bg-gray-200 */
        --color-fill-muted: 243, 244, 246;
        /* bg-gray-300 */
        --color-fill-muted2: 209, 213, 219;
        /* bg-gray-100 */
        --color-fill-muted-hover: 229, 231, 235;
        /* bg-gray-50 */
        --color-fill-muted2-hover: 249, 250, 251;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-green-700 (what would be changing for other theme colors) */
        --color-button-accent: 21, 128, 61;
        /* bg-green-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 22, 101, 52;

        /* bg-gray-100 */
        --color-button-muted-hover: 243, 244, 246;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-100 */
        --color-focus: 243, 244, 246;
        /* ring-green-300 (what would be changing for other theme colors)*/
        --color-focus2: 134, 239, 172;

        /* border-gray-300 */
        --color-border: 209, 213, 219;
        /* border-gray-100 */
        --color-border2: 243, 244, 246;
    }

    .theme-moss-dark {
        /* .....Text..... */
        /* text-white */
        --color-text-base: 255, 255, 255;
        /* text-gray-900 */
        --color-text-base-opposite: 17, 24, 39;

        /* text-gray-400 */
        --color-text-muted: 156, 163, 175;
        /* text-white */
        --color-text-muted2: 255, 255, 255;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-green-300 (what would be changing for other theme colors) */
        --color-text-icon2: 134, 239, 172;
        /* text-gray-400 */
        --color-text-icon-hover: 156, 163, 175;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-gray-900 */
        --color-fill: 17, 24, 39;
        /* bg-green-600 (what would be changing for other theme colors) */
        --color-fill2: 22, 163, 74;
        
        /* bg-gray-800 */
        --color-fill3: 31, 41, 55;
        /* bg-white */
        --color-fill4: 255, 255, 255;
        /* bg-green-900 (what would be changing for other theme colors) */
        --color-fill5: 20, 83, 45;

        /* bg-gray-800 */
        --color-fill-muted: 31, 41, 55;
        /* bg-gray-800 */
        --color-fill-muted2: 31, 41, 55;
        /* bg-gray-700 */
        --color-fill-muted-hover: 55, 65, 81;
        /* bg-gray-700 */
        --color-fill-muted2-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-green-700 (what would be changing for other theme colors) */
        --color-button-accent: 21, 128, 61;
        /* bg-green-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 22, 101, 52;

        /* bg-gray-700 */
        --color-button-muted-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-800 */
        --color-focus: 31, 41, 55;
        /* ring-green-900 (what would be changing for other theme colors)*/
        --color-focus2: 20, 83, 45;

        /* border-gray-700 */
        --color-border: 55, 65, 81;
        /* border-gray-600 */
        --color-border2: 75, 85, 99;
/* ****************************************************** */ 
    }

    .theme-stone-light {
        /* .....Text..... */
        /* text-gray-900 */
        --color-text-base: 17, 24, 39;
        /* text-white */
        --color-text-base-opposite: 255, 255, 255;

        /* text-gray-500 */
        --color-text-muted: 107, 114, 128;
        /* text-gray-700 */
        --color-text-muted2: 55, 65, 81;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-stone-600 (what would be changing for other theme colors) */
        --color-text-icon2: 87, 83, 78;
        /* text-gray-800 */
        --color-text-icon-hover: 31, 41, 55;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-white */
        --color-fill: 255, 255, 255;
        /* bg-stone-600 (what would be changing for other theme colors) */
        --color-fill2: 87, 83, 78;
        /* bg-white */
        --color-fill3: 255, 255, 255;
        /* bg-gray-600 */
        --color-fill4: 75, 85, 99;
        /* bg-stone-100 (what would be changing for other theme colors) */
        --color-fill5: 245, 245, 244;

        /* bg-gray-200 */
        --color-fill-muted: 243, 244, 246;
        /* bg-gray-300 */
        --color-fill-muted2: 209, 213, 219;
        /* bg-gray-100 */
        --color-fill-muted-hover: 229, 231, 235;
        /* bg-gray-50 */
        --color-fill-muted2-hover: 249, 250, 251;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-stone-700 (what would be changing for other theme colors) */
        --color-button-accent: 68, 64, 60;
        /* bg-stone-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 41, 37, 36;

        /* bg-gray-100 */
        --color-button-muted-hover: 243, 244, 246;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-100 */
        --color-focus: 243, 244, 246;
        /* ring-stone-300 (what would be changing for other theme colors)*/
        --color-focus2: 214, 211, 209;

        /* border-gray-300 */
        --color-border: 209, 213, 219;
        /* border-gray-100 */
        --color-border2: 243, 244, 246;

    }

    .theme-stone-dark {
        /* .....Text..... */
        /* text-white */
        --color-text-base: 255, 255, 255;
        /* text-gray-900 */
        --color-text-base-opposite: 17, 24, 39;

        /* text-gray-400 */
        --color-text-muted: 156, 163, 175;
        /* text-white */
        --color-text-muted2: 255, 255, 255;
        /* text-gray-400 */
        --color-text-muted3: 156, 163, 175;

        /* text-white */
        --color-text-inverted: 255, 255, 255;

        /* text-gray-500 */
        --color-text-icon: 107, 114, 128;
        /* text-stone-300 (what would be changing for other theme colors) */
        --color-text-icon2: 214, 211, 209;
        /* text-gray-400 */
        --color-text-icon-hover: 156, 163, 175;
/* ****************************************************** */

        /* .....Background..... */
        /* bg-gray-900 */
        --color-fill: 17, 24, 39;
        /* bg-stone-600 (what would be changing for other theme colors) */
        --color-fill2: 87, 83, 78;
        
        /* bg-gray-800 */
        --color-fill3: 31, 41, 55;
        /* bg-white */
        --color-fill4: 255, 255, 255;
        /* bg-stone-900 (what would be changing for other theme colors) */
        --color-fill5: 28, 25, 23;

        /* bg-gray-800 */
        --color-fill-muted: 31, 41, 55;
        /* bg-gray-800 */
        --color-fill-muted2: 31, 41, 55;
        /* bg-gray-700 */
        --color-fill-muted-hover: 55, 65, 81;
        /* bg-gray-700 */
        --color-fill-muted2-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Buttons..... */
        /* bg-stone-700 (what would be changing for other theme colors) */
        --color-button-accent: 68, 64, 60;
        /* bg-stone-800 (what would be changing for other theme colors) */
        --color-button-accent-hover: 41, 37, 36;

        /* bg-gray-700 */
        --color-button-muted-hover: 55, 65, 81;
/* ****************************************************** */

        /* .....Others..... */
        /* ring-gray-800 */
        --color-focus: 31, 41, 55;
        /* ring-stone-900 (what would be changing for other theme colors)*/
        --color-focus2: 28, 25, 23;

        /* border-gray-700 */
        --color-border: 55, 65, 81;
        /* border-gray-600 */
        --color-border2: 75, 85, 99;
/* ****************************************************** */ 

    }
}

@layer components {

        /* Testimonials Section */ 
        .testimonial .slick-arrow.slick-prev,
        .testimonial .slick-arrow.slick-next {
        @apply hidden lg:flex justify-center items-center rounded-full w-10 h-10 p-2 md:bg-skin-fill5 md:text-skin-icon2;
        }

        .testimonial .slick-prev::before,
        .testimonial .slick-next::before {
        @apply hidden;
        }

        .testimonial .slick-slide > div {
        @apply transform scale-75 transition-transform duration-700 ease-in-out;
        }
        
        .testimonial .slick-center > div {
        @apply transform scale-100;
        }
        /*** end testimonials section ***/

        /* Parallax Component */
        .parallax-mask::before,
        .parallax-mask::after {
                @apply content-[''] absolute top-0 bottom-0 w-12 pointer-events-none z-10;
        }

        .parallax-mask::before {
                @apply left-0 bg-gradient-to-r from-gray-100 dark:from-gray-900
        }

        .parallax-mask::after {
                @apply right-0 bg-gradient-to-l from-gray-100 dark:from-gray-900
        }
        /*** end parallax component ***/

}